.signup{
    margin-left: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.signupWrapper{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.form-input{
    margin-left: 10%;
    width: 80%;
    margin-bottom: 5%;
}

.loginButton{
    margin-left: 10%;
    width: 80%;
    height: 4vh;
    background-color: #080f0fad;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}

.signupBtn{
    margin-left: 10%;
    width: 80%;
    height: 6vh;
    background-color: #f54242d2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}

.hr {
    margin-top: 5%;
    margin-bottom: 5%;

}