.post {
    background-color: #ffffff;
    width: 100%;
    min-width: 100%;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.57); 
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.41);
  
}

.profileImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postTimeStamp{
    font-size: 12px;
}

.postBody{
    margin: 20px;
}

.postImage{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.likeCounter{
    font-size: 15px;
}

.postCommentText{
    color: rgba(192, 17, 17, 0.813);
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    border-bottom: 1px solid rgba(192, 17, 17, 0.813);

    &:hover{
        color: rgba(60, 60, 60, 0.813);
        border-bottom: 1px solid rgba(60, 60, 60, 0.813);
        
    }
}

.moreIcon{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}